<table class="table table-hover" >
    <thead>
        <tr>
            <th> نام</th>
            <th> نام خانوادگی</th>
            <th>سن</th>
        </tr>
    </thead>
    {% comment %}
    <div class="card">
        hi howe are you and for card
    </div>
    {% endcomment %}

    <tbody>
        {% for item in mod %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.family }}</td>

            {% if item.age < 23 %}
            <td>زیرسن قانونی</td>
      {% elif item.age == 56 %}
            <td>آدم با تجربه</td>
      {% else %}
            <td>{{ item.age }}</td>
      {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>